[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = different stuff
[access "refs/*"]
	owner = group user/IgorYozhikov
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/IgorYozhikov
	label-Verified = -1..+1 group user/IgorYozhikov
	push = group user/IgorYozhikov
	read = group user/IgorYozhikov
	rebase = group user/IgorYozhikov
	removeReviewer = group user/IgorYozhikov
	submit = group user/IgorYozhikov
[access "refs/heads/*"]
	create = group user/IgorYozhikov
	push = +force group user/IgorYozhikov
	pushMerge = group user/IgorYozhikov
	read = group user/IgorYozhikov
[access "refs/tags/*"]
	push = group user/IgorYozhikov
	push = +force group user/IgorYozhikov
